body {
  margin: 0;
  text-align: center;
  /* El text-align alineará todos los elementos que son hijos del contenedor,
  a menos que tenga un atributo width y ahí no lo alcanza */
  /* font-family: Verdana,Geneva,sans-serif;  Prinero trata que el browser use verdana,
  en caso de no poder, selecciona Geneva y luego  la fuente sans-serif por defecto. En el sitio
  cssfontstack.com se puede copiar y traer los fallback de los fonts más empleados
  por sistema operativo */
  font-family: 'Merriweather', serif;
}

h1 {
  color: #E3FCBF;
  /* Al ser el objeto tipo block <h1> y con un width declarad de un 10%,
  el text-align: center no lo alcanza, pero puede echar mano al margen
 (top y bottom = 0, left y right = auto)
  margin: 0 auto 0 auto;
  width: 10%; */
  margin: 50px auto 0;
  font-size: 5.625rem;
  /*Dado que el 100% son 16px y yo quiero 90px, necesito el 562.5% */
  /* También se puede usar la unidad em, que representa la M mayúscula y son 16px */
  /* Es un atributo heredado de su padre, a menos que utilice la unidad rem (root em)
  que trae los valores del root */
  font-family: 'Sacramento', cursive;
  /*fonts embebidas desde fonts.google.com */
  /* line-height: 2; */
}

h2 {
  color: #E3FCBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: rgb(241, 238, 233);
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #40514E;
  margin-bottom: 0;
}

a {
  color: rgb(241, 238, 233);
}

hr {
  border-style: dotted;
  height: 10px;
  border-width: 5px 0 0 0;
  color: #EAF6F6;
  width: 5%;
}

.top-container {
  background-color: #15133C;
  position: relative;
  padding-top: 100px;
}

.contact-me {
  background-color: #14C38E;
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #15133C;
  padding-top: 40px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  background-color: #14C38E;
}

.bottom-line {
  background-color: black;
  color: black;
  display: none;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.profile-row {
  width: 40%;
  margin: 100px auto;
  text-align: center;
  line-height: 2;
}

.contact-row {
  width: 40%;
  margin: 20px auto 60px;
  text-align: center;
  line-height: 1.5;
}
.python-logo {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.giphy-embed {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #15133C;
  background-image: -webkit-linear-gradient(top, #15133C, #7dc2ed);
  background-image: -moz-linear-gradient(top, #15133C, #7dc2ed);
  background-image: -ms-linear-gradient(top, #15133C, #7dc2ed);
  background-image: -o-linear-gradient(top, #15133C, #7dc2ed);
  background-image: linear-gradient(to bottom, #15133C, #7dc2ed);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.footer-link {
  color: #40514E;
  padding-left: 30px;
  padding-right: 30px;
}

.disclaimer {
  font-size: 11px;
}
